.navigation-menu {
	float: left;
	height: 100vh;
	width: 250px;
	background-color: #222;
	transition: width 0.2s;
	overflow: hidden;
	overflow-y: auto;
	white-space: nowrap;

	&__logo {
		width: 100px;
		display: block;
		margin: 25px auto;
	}

	& hr {
		border-top: 1px solid #CCC;
		width: 220px;
		height: 0px;
	}

	&__row {
		padding: 0px;
		position: relative;
	}

	&__link {
		color: white;
		text-decoration: none;
		padding: 12px 0px 12px 22px;
		display: block;

		&:active {
			color: #f2b25e !important;

			.triangle {
				width: 0; 
				height: 0; 
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-right: 10px solid white;
				position: absolute;
				left: 240px;
				top: 15px;
				display: block;
				z-index: 2;
			}
		}

		&:hover {
			& &.band {
				width: 250px;
			}
		}

		&-text {
			position: relative;
			z-index: 2;
		}
	}

	&__icon {
		margin-right: 0.7em;
		transition: transform 0.2s;
		position: relative;
		z-index: 2;
	}

	&__band {
		width: 0%;
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: #333333;
		transition: width 0.4s;
		height: 50px;
		z-index: 1;
	}
}

.hide-sidebar {
	& .navigation-menu {
		width: 0px;
	}

	& .main-content, header { 
		margin-left: 0px;
	}

	.hamburger-open {
		display: block;
	}

	.hamburger-close {
		display: none;
	}
}